
<div ng-repeat="user in userInfo">
<input  type="checkbox" ng-model="selectedVal[$index]"  ng-click="showData(selectedVal[$index],user.MDN,$index)">{{user.MDN}}

     </div>
       <div ng-show=checked ng-repeat="user in userInfo" >
       NAME:{{user.Name}}   MDN:{{user.MDN}}    CustomerID:{{user.CustomerId}}
        </div>

      <div ng-show=afterClickVal[$index] ng-repeat="data in newData" >

       <li>NAME:{{data.Name}}  MDN: {{data.MDN}}  CustomerID:{{data.CustomerId}} </li>

        </div>












