    <!DOCTYPE html>
    <html>

    <body>
     <div ng-repeat="user in userInfo">
            <input  type="checkbox"  checklist-model="selectedVal" checklist-value=user.MDN checklist-change="showData()">{{user.MDN}}

     </div>
       <div ng-show=checked ng-repeat="user in userInfo" >
       NAME:{{user.Name}}   MDN:{{user.MDN}}    CustomerID:{{user.CustomerId}}
        </div>
       <div ng-repeat="data in filterdata">

        <li> NAME:{{data.Name}}  MDN: {{data.MDN}}  CustomerID:{{data.CustomerId}}</li>

        </div>


    </body>



    </html>





