    <!DOCTYPE html>
    <html>
<head>
         <script src="https://code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
    <script src="json-factory.js"></script>     <!--factory to read json files-->
    <script src="checkbox-filter-controller.js"></script>
</head>
    <body ng-app="myMPCSApp.filterModule" ng-controller="FilterDataController">
     <div ng-repeat="user in userInfo">
<input  type="checkbox" ng-model="selectedVal[$index]"  ng-click="showData(selectedVal[$index],user.MDN,$index)">{{user.MDN}}{{selectedVal[$index]}}

     </div>
       <div ng-show=checked ng-repeat="user in userInfo" >
       NAME:{{user.Name}}   MDN:{{user.MDN}}    CustomerID:{{user.CustomerId}}
        </div>

      <div ng-show=afterClickVal[$index] ng-repeat="data in newData" >

       <li>NAME:{{data.Name}}  MDN: {{data.MDN}}  CustomerID:{{data.CustomerId}} {{$index}}</li>

        </div>


    </body>



    </html>





