
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MPCS MOBILE</a>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li><a href="#">View Cart</a></li>

    </ul>

  </div>
</nav>
  </div>
    <div class="container-fluid">
        <div class="row" class="col-md-6">
      <div  id="mobileInfo" ng-repeat="device in devices" class="col-md-6">
            <img src="{{device.imageUrl}}" alt="phone" class="img-responsive img-width">
            <label>Device Name:</label> {{device.deviceName}}<br>
            <label>Price:</label>{{device.currency}}{{device.price}}  <br>
            <label>Availability:</label>{{device.availablility}} <input type="button" id="button-cart" ng-click="addToCart(device)" class="btn btn-primary" value="Add to Cart"/>

        </div>
     </div>
        </div>


