<html
<h3>Shopping Cart </h3>
<div class="container-fluid">
 <table class=table>
        <tr ng-hide="searchResult.length==0" class="active">
           <th>Device Name</th>
        <th> Image</th>
        <th>Price</th>
        <th>Quantity</th>
             </tr>


       <tr ng-repeat="cartItem in searchResult">

           <td>{{cartItem.deviceDetail.deviceName}}</td>
           <td><img src="{{cartItem.deviceDetail.imageUrl}}" alt="phone"></td>
        <td>{{cartItem.deviceDetail.currency}}{{cartItem.deviceDetail.price}}</td>
            <td>
<select  ng-model="cartItem.qty" ng-change= "updateQuantity(cartItem.deviceDetail.skuId,quantity_selected,cartItem.deviceDetail)">
    <option value="cartItem.qty">{{cartItem.qty}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
</td>

<td><a href="#" ng-click="removeProduct(cartItem.deviceDetail.skuId,$index)">Remove</a></td>
     </tr>

     </table>
</div>


</html>





