<html
<h3>Shopping Cart </h3>
<div class="container-fluid"  >
    {{cartItem.deviceName}}
 <table class=table>
        <tr class="active">
        <th>Device Name</th>
        <th> Image</th>
        <th>Price</th>
        <th>Quantity</th>
             </tr>

       <tr  ng-repeat="cartItem in searchResult"><td>{{cartItem.deviceName}}</td>
           <td><img src="{{cartItem.imageUrl}}" alt="phone"></td>
        <td>{{cartItem.currency}}{{cartItem.price}}</td>
     </tr>

     </table>
    </div>



</html>





