<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4>Shopping Cart</h4><br>
        <p class="navbar-brand">
  Thanks for shopping.This is your shopping cart. Here you can edit the items,
  go back to the store, clear the cart.</p>
    </div>



    </div>
</nav>
<div  id="searchResult"  class="container-fluid">

 <table ng-hide="searchResult.length==0" class="table">
        <tr class="active">
           <th>Device Name</th>
        <th> Image</th>
        <th>Price</th>
        <th>Quantity</th>
            <th></th>
             </tr>
     <tr><a ng-hide="searchResult.length==0" href="#" class="pull-right" ng-click="removeAll()">Remove All</a></tr>

       <tr ng-repeat="cartItem in searchResult">

           <td>{{cartItem.deviceDetail.deviceName}}</td>
           <td><img src="{{cartItem.deviceDetail.imageUrl}}" alt="phone"></td>
        <td>{{cartItem.deviceDetail.currency}}{{cartItem.deviceDetail.price}}</td>
            <td>
<select  ng-model="cartItem.qty" ng-change= "updateQuantity(cartItem.deviceDetail.skuId,quantity_selected,cartItem.deviceDetail)">
    <option value="cartItem.qty">{{cartItem.qty}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select><button  id="remove" class="btn btn-primary" ng-click="removeProduct(cartItem.deviceDetail.skuId,$index)">Remove
</td>

     </tr>

     <tr>  <h4 class="pull-left" ng-show="searchResult.length==0">Your cart is empty.</h4> </tr>

     </table>

</div>








